<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings configSource ="testhost.dll.secret.config"/>
</configuration>


<!--
Connections should be in testhost.dll.secret.config which is gitignored.
The secret.config should have a connection string named devconn with the same rights as app connection
and a connection string with query rights named unittestconn
-->